div {
	margin: 0 40%;
	margin-top: 10pt;
	text-align: center;
}
label {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  text-align: center;
  width: 100%;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}
body {
	background-color: #2e3136;
	color: #ddd;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
